{% extends "account/base/base.html" %}
{% load static %}

{% block title %} Cerrar Sesión {% endblock %}
{% block content %}
        
<div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
    <!--begin::Form-->
        <form method="post" action="{% url 'account_logout' %}">
            <div class="text-center mb-10">
                <!--begin::Title-->
                <h1 class="text-dark mb-3">¿Estás seguro de cerrar sesión?</h1>
                <!--end::Title-->
            </div>
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="text-center">
            <a href="{% url 'core:index' %}" class="btn btn-info">Regresar</a>
            <button type="submit" class="btn btn-danger btn-md">Cerrar Sesión</button>
          </div>
        </form>
    <!--end::Form-->
</div>

{% endblock %}