{% extends "account/base/base.html" %}
{% load static %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Recupera tu contraseña</h3>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form">
                        {% csrf_token %}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group mb-3">
                            <label for="id_email" class="form-label fs-6 fw-bolder text-dark">Correo electrónico:</label>
                            <input type="email" name="email" placeholder="Correo electrónico" autocomplete="email" required id="id_email"
                                class="form-control form-control-lg form-control-solid">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-lg btn-success w-100 mb-3">Recuperar contraseña</button>
                            <a href="{% url 'account_login' %}" class="btn btn-info btn-lg w-100">Volver al inicio de sesión</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}