{% extends "base/baseLogin.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <p><label for="id_password1">Nueva contraseña:</label> <input type="password" name="password1" placeholder="Nueva contraseña" autocomplete="new-password" required id="id_password1" class="form-control rounded add-order"></p>
                <p><label for="id_password2">Nueva contraseña (de nuevo):</label> <input type="password" name="password2" placeholder="Nueva contraseña (de nuevo)" required id="id_password2" class="form-control rounded add-order"></p>
                <input type="submit" name="action" value="cambiar la contraseña" class="btn btn-success"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
