{% extends "base/baseLogin.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<h3>{% trans "Password Reset" %}</h3>

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>
    Le hemos enviado un correo electrónico. Por favor contáctenos si no lo recibe en unos minutos. <br>
    En dado caso por favor verifique su carpeta de spam
</p>
<div class="mt-xl-2">
    <a href="{% url 'account_login' %}" class="btn btn-block btn-success btn-lg font-weight-medium auth-form-btn">Volver
        al Inicio de Sesión</a>
</div>
{% endblock %}
