{% extends "loyal_ryde_system/base/base.html" %} 
{% load static %} 

{% block title %}Agregar usuario de emprersas{% endblock title %}

{% block extra_css %} 

<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}

<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <form  class="form d-flex flex-column flex-lg-row" method="post">
            <!--begin::Aside column-->
            <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
                <!--begin::Thumbnail settings-->
                <div class="card card-flush py-4">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <!--begin::Card title-->
                        <div class="card-title text-center">
                            <h2>Logo de la empresa</h2>
                        </div>
                        <!--end::Card title-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body text-center pt-0">
                        <!--begin::Image input-->
                        <div class="image-input image-input-empty image-input-outline mb-3" data-kt-image-input="true" style="background-image: url({% static 'assets/media/svg/files/blank-image.svg'%})" id="image_company">
                            <!--begin::Preview existing avatar-->
                            <div class="image-input-wrapper w-150px h-150px"></div>
                            <!--end::Preview existing avatar-->
                            <!--begin::Label-->
                            <!--end::Label-->
                            <!--begin::Cancel-->
                            <!--end::Cancel-->
                            <!--begin::Remove-->
                            <!--end::Remove-->
                        </div>
                        <!--end::Image input-->
                        <!--begin::Description-->
                        <!--end::Description-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Thumbnail settings-->
                <!--begin::Status-->
                <div class="card card-flush py-4">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <h2>Empresa</h2>
                        </div>
                        <!--end::Card title-->
                        <!--begin::Card toolbar-->
                        <div class="card-toolbar">
                            <div class="rounded-circle bg-success w-15px h-15px" id="kt_ecommerce_add_category_status"></div>
                        </div>
                        <!--begin::Card toolbar-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-0">
                        <!--begin::Select2-->
                        {{ form.company }}
                        <!--end::Select2-->
                        <!--begin::Description-->
                        <div class="text-muted fs-7">Seleccione la empresa a la que pertenece el usuario.</div>
                        <!--end::Description-->
                        <!--begin::Datepicker-->
                        <div class="d-none mt-10">
                            <label for="kt_ecommerce_add_category_status_datepicker" class="form-label">Seleccione la empresa a la que pertenece el usuario</label>
                            <input class="form-control" id="kt_ecommerce_add_category_status_datepicker" placeholder="Pick date &amp; time" />
                        </div>
                        <!--end::Datepicker-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Status-->
                <!--begin::Status-->
                <!-- <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Estatus del Usuario</h2>
                        </div>
                        <div class="card-toolbar">
                            <div class="rounded-circle bg-success w-15px h-15px" id="kt_ecommerce_add_category_status"></div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        {{ form.status }}
                        <div class="text-muted fs-7">Seleccione el estatus del usuario.</div>
                        <div class="d-none mt-10">
                            <label for="kt_ecommerce_add_category_status_datepicker" class="form-label">{{ form.status.label }}</label>
                            <input class="form-control" id="kt_ecommerce_add_category_status_datepicker" placeholder="Pick date &amp; time" />
                        </div>
                    </div>
                </div> -->
                
                <div class="card card-flush py-4">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <h2>Rol del Usuario</h2>
                        </div>
                        <!--end::Card title-->
                        <!--begin::Card toolbar-->
                        <div class="card-toolbar">
                            <div class="rounded-circle bg-success w-15px h-15px" id="kt_ecommerce_add_category_status"></div>
                        </div>
                        <!--begin::Card toolbar-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-0">
                        <!--begin::Select2-->
                        {{ form.role }}
                        <!--end::Select2-->
                        <!--begin::Description-->
                        <div class="text-muted fs-7">Seleccione el rol del usuario.</div>
                        <!--end::Description-->
                        <!--begin::Datepicker-->
                        <div class="d-none mt-10">
                            <label for="kt_ecommerce_add_category_status_datepicker" class="form-label">{{ form.role.label }}</label>
                            <input class="form-control" id="kt_ecommerce_add_category_status_datepicker" placeholder="Pick date &amp; time" />
                        </div>
                        <!--end::Datepicker-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Status-->
            </div>
            <!--end::Aside column-->
            <!--begin::Main column-->
            <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                <!--begin::General options-->
                <div class="card card-flush py-4">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Registrar Usuario: Empresas</h2>
                        </div>
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-0">
                        <!--begin::Input group-->
                        {% csrf_token %}
                        
                        <div class="mb-3 fv-row">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.first_name.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.first_name }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.first_name.help_text }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.last_name.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.last_name }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.last_name.help_text }}
                                    </div>
                                </div>
                            </div>
                                <!--end::Description-->
                            {% for field in form.visible_fields %}
                                {% if  field.name != 'role' and field.name != 'first_name' and field.name != 'last_name' and field.name != 'travel_approval' and field.name != 'company' %}
                                            <!--begin::Label-->
                                            <div class="mb-3  {% if field.name == 'password1' or field.name == 'password2' %} d-none {% endif %}">
                                            <label class="required form-label">{{ field.label }}</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            {{ field }}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            <!--end::Input-->
                                            <!--begin::Description-->
                                            <div class="text-muted fs-7">
                                                {{ field.help_text }}
                                            </div>
                                            <!--end::Description-->
                                        </div>
                                {% endif %}
                            {% endfor %}
                            <div class="mb-3 d-none" id="travel_approval_div">
                            <label class="required form-label">¿{{ form.travel_approval.label }}?</label>
                            {{ form.travel_approval }}
                            <div class="text-muted fs-7">
                                {{ form.travel_approval.help_text }}
                            </div>
                        </div>
                            
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--end::Card header-->
                </div>
                <!--end::General options-->
                <!--begin::Automation-->
                <!-- <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>¿Empresa no registrada?</h2>
                        </div>
                    </div>


                    <div class="card-body pt-0">
                        <div>
                            <label class="form-label mb-5">Si la empresa no aparece en el listado puedes agregarla en este paso.</label>

                            <div class="d-flex fv-row">
                                <div class="form-check form-check-custom form-check-solid">
                                    <input class="form-check-input me-3" name="method" type="radio" value="0" id="kt_ecommerce_add_category_automation_0" checked='checked' />

                                    <label class="form-check-label" for="kt_ecommerce_add_category_automation_0">
                                        <div class="fw-bolder text-gray-800">Si, ya está registrada la empresa</div>
                                        <div class="text-gray-600">la empresa aparece sin ningún problema en el listado.</div>
                                    </label>
                                </div>
                            </div>
                            <div class='separator separator-dashed my-5'></div>
                            <div class="d-flex fv-row">
                                <div class="form-check form-check-custom form-check-solid">
                                    <input class="form-check-input me-3" name="method" type="radio" value="1" id="kt_ecommerce_add_category_automation_1" />

                                    <label class="form-check-label" for="kt_ecommerce_add_category_automation_1">
                                        <div class="fw-bolder text-gray-800">No, no encuntro a la empresa en el listado</div>
                                        <div class="text-gray-600">Puedes añadir a la empresa desde esta opción.</div>
                                    </label>
                                </div>
                            </div>
                            
                        </div>
                        <div class="d-none mt-10" data-kt-ecommerce-catalog-add-category="auto-options">
                            <div class="card-body pt-0">
                                <div class="mb-10 fv-row">
                                    <label class="required form-label">Nombre de la empresa</label>
                                    <input type="text" name="user_name" class="form-control mb-2" placeholder="nombre de usuario" value="" />

                                    <div class="text-muted fs-7">El nombre de la empresa es obligatorio.</div>
                                </div>
                                <div class="">
                                    <label class="form-label">Correo electrónico</label>
                                    <input type="email" name="user_email" class="form-control mb-2" placeholder="email" value="" />

                                    <div class="text-muted fs-7">ingrese el correo electrónico del la empresa, este debe ser unico</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="d-flex justify-content-end">
                    <a href="../../demo1/dist/apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancelar</a>

                    <button type="submit" class="btn btn-primary">
                        <span class="indicator-label">Registrar Usuario</span>
                        <span class="indicator-progress">
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button>
                </div>



            </div>
        </form>
    </div>
    <!--end::Container-->
</div>
{% endblock content %} 

{% block extra_js %} 
<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script src="{% static 'assets/plugins/custom/formrepeater/formrepeater.bundle.js' %}"></script>
<!--end::Page Vendors Javascript-->
<!--begin::Page Custom Javascript(used by this page)-->
<script src="{% static 'assets/js/custom/apps/ecommerce/catalog/save-category.js' %}"></script>
<script src="{% static 'assets/js/widgets.bundle.js' %}"></script>
<script src="{% static 'assets/js/custom/widgets.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/chat/chat.js' %}"></script>
<script src="{% static 'assets/js/custom/utilities/modals/upgrade-plan.js' %}"></script>
<script src="{% static 'ssets/js/custom/utilities/modals/create-app.js' %}"></script>
<script src="{% static 'assets/js/custom/utilities/modals/users-search.js' %}"></script>

<script>
    $('#password1, #password2').val('asdjhsdjhsdjhsjdh')
    $('#id_role option[value="conductor"]').prop('disabled', true);
    $('#id_role option[value="administrador"]').prop('disabled', true);
    $('#id_role option[value="despachador"]').prop('disabled', true);
    
    $('#id_role').change(function() {
    if ($(this).val() == 'supervisor') {
        $('#travel_approval_div').removeClass('d-none');
    } else {
        $('#travel_approval_div').addClass('d-none');
    }
});

function getCompanyImage() {
    var companyId = $('#id_company').val();  // El select tiene el id 'id_company'
    $.ajax({
        url: "{% url 'core:company_image' %}",  // La URL de tu vista en Django
        data: {
            'company_id': companyId
        },
        dataType: 'json',
        success: function (data) {
            console.log(data)
            $('#image_company').css('background-image', "{% static 'assets/media/svg/files/blank-image.svg'%}");
            $('#image_company').css('background-image', 'url(' + data.image_url + ')');
            // $('#company_image').attr('src', data.image_url);  // Asumiendo que tienes un img con el id 'company_image'
        }
    });
}

// Asegúrate de llamar a getCompanyImage() cuando el select cambie
$('#id_company').change(getCompanyImage);

</script>
<!--end::Page Custom Javascript-->
{% endblock extra_js %}
