{% extends "loyal_ryde_system/base/base.html" %} 
{% load static %} 

{% block title %}Agregar Tarifas{% endblock title %}

{% block extra_css %} 

<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}

<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <form class="form d-flex flex-column flex-lg-row" method="post" >
            {% csrf_token %}
            <!--begin::Aside column-->
            <!--end::Aside column-->
            <!--begin::Main column-->
            <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                <!--begin::General options-->
                <div class="card card-flush py-4">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Registrar Tarifa</h2>
                        </div>
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-0">
                        <!--begin::Input group-->
                        <div class="mb-10 fv-row">
                            <!-- {{ form.as_p }} -->
                            
                            <div class="row">
                                <!-- tipo de servicio -->
                                <div class="col-md-12 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.service_type.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.service_type }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted
                                    fs-7">{{ form.service_type.help_text }}</div>
                                </div>
                                <!-- Ruta -->
                                <div class="col-md-6 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.route.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.route }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.route.help_text }}
                                    </div>
                                </div>
                                <!-- Tipo de Vehiculo -->
                                <div class="col-md-6 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.type_vehicle.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.type_vehicle }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.type_vehicle.help_text }}
                                    </div>
                                </div>
                                <!-- Precio ida -->
                                <div class="col-md-4 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.price.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.price }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.price.help_text }}
                                    </div>
                                </div>
                                <!-- Precio ida y vuelta -->
                                <div class="col-md-4 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.price_round_trip.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.price_round_trip }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.price_round_trip.help_text }}
                                    </div>
                                </div>
                                <!-- Costo desvío local -->
                                <div class="col-md-4 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.detour_local.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.detour_local }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.detour_local.help_text }}
                                    </div>
                                </div>
                                <!-- Hora de espera diurna -->
                                <div class="col-md-6 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.daytime_waiting_time.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.daytime_waiting_time }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.daytime_waiting_time.help_text }}
                                    </div>
                                </div>
                                <!-- Hora de espera nocturna -->
                                <div class="col-md-6 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.nightly_waiting_time.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.nightly_waiting_time }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.nightly_waiting_time.help_text }}
                                    </div>
                                </div>

                                <!-- Ganancias del conductor -->
                                <hr>
                                <h3>Ganancias conductor</h3>
                                <div class="col-md-4 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.driver_gain.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.driver_gain }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.driver_gain.help_text }}
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.driver_gain_waiting_time.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.driver_gain_waiting_time }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.driver_gain_waiting_time.help_text }}
                                    </div>
                                </div>
                                
                                <div class="col-md-4 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.driver_gain_detour_local.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.driver_gain_detour_local }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.driver_gain_detour_local.help_text }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.driver_price.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.driver_price }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.driver_price.help_text }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.driver_price_round_trip.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.driver_price_round_trip }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.driver_price_round_trip.help_text }}
                                    </div>
                                </div>
                                
                                <div class="col-md-4 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.driver_gain_detour_local_quantity.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.driver_gain_detour_local_quantity }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.driver_gain_detour_local_quantity.help_text }}
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.driver_daytime_waiting_time.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.driver_daytime_waiting_time }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.driver_daytime_waiting_time.help_text }}
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.driver_nightly_waiting_time.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.driver_nightly_waiting_time }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.driver_nightly_waiting_time.help_text }}
                                    </div>
                                </div>
                                
                                <!-- Ganancias empresa -->
                                <hr>
                                <h3>Ganancias Loyal Ride</h3>
                                <div class="col-md-6 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.gain_loyal_ride.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.gain_loyal_ride }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.gain_loyal_ride.help_text }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <!--begin::Label-->
                                    <label class="required form-label">{{ form.gain_loyal_ride_round_trip.label }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    {{ form.gain_loyal_ride_round_trip }}
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">
                                        {{ form.gain_loyal_ride_round_trip.help_text }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Card header-->
                </div>
                <div class="d-flex justify-content-end">
                    <!--begin::Button-->
                    <a href="../../demo1/dist/apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancelar</a>
                    <!--end::Button-->
                    <!--begin::Button-->
                    <button type="submit" class="btn btn-primary">
                        <span class="indicator-label">Registrar Tarifa</span>
                        <span class="indicator-progress">Please wait...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button>
                    <!--end::Button-->
                </div>
            </div>
            <!--end::Main column-->
        </form>
    </div>
    <!--end::Container-->
</div>
{% endblock content %} 

{% block extra_js %} 
<!--end::Page Vendors Javascript-->

<script>
    $(document).ready(function() {
        // Escucha los cambios en los inputs
        $('#id_price, #id_driver_gain').on('input', function() {
            // Obtiene los valores de los inputs
            var price = parseFloat($('#id_price').val());
            var driverGain = parseFloat($('#id_driver_gain').val());
    
            // Calcula el precio del conductor
            var driverPrice = (price * driverGain) / 100;
    
            // Muestra el resultado en el input id_driver_price
            $('#id_driver_price').val(driverPrice.toFixed(2));
            var gain = price - driverPrice
            $('#id_gain_loyal_ride').val(gain.toFixed(2))
        });
        $('#id_price_round_trip, #id_driver_gain').on('input', function() {
            // Obtiene los valores de los inputs
            var price = parseFloat($('#id_price_round_trip').val());
            var driverGain = parseFloat($('#id_driver_gain').val());
    
            // Calcula el precio del conductor
            var driverPrice = (price * driverGain) / 100;
    
            // Muestra el resultado en el input id_driver_price
            $('#id_driver_price_round_trip').val(driverPrice.toFixed(2));
            var gain = price - driverPrice
            $('#id_gain_loyal_ride_round_trip').val(gain.toFixed(2))
        });
        
        $('#id_detour_local, #id_driver_gain_detour_local').on('input', function() {
            // Obtiene los valores de los inputs
            var detuor = parseFloat($('#id_detour_local').val());
            var detour_percent = parseFloat($('#id_driver_gain_detour_local').val());
    
            // Calcula el precio del conductor
            var detour_gain_quantity = detuor * detour_percent / 100;
            detour_gain_quantity = detour_gain_quantity.toFixed(2);
    
            // Muestra el resultado en el input id_driver_price
            $('#id_driver_gain_detour_local_quantity').val(detour_gain_quantity);
        });
        
        $('#id_daytime_waiting_time, #id_driver_gain_waiting_time').on('input', function() {
            // Obtiene los valores de los inputs
            var daytime_price = parseFloat($('#id_daytime_waiting_time').val());
            var daytime_percent_gain = parseFloat($('#id_driver_gain_waiting_time').val());

            // Calcula el precio del conductor
            var hour_gain_quantity = daytime_price * daytime_percent_gain / 100;
            hour_gain_quantity = hour_gain_quantity.toFixed(2);
    
            // Muestra el resultado en el input id_driver_price
            $('#id_driver_daytime_waiting_time').val(hour_gain_quantity);
        });
        
        $('#id_nightly_waiting_time, #id_driver_gain_waiting_time').on('input', function() {
            // Obtiene los valores de los inputs
            var daytime_price = parseFloat($('#id_nightly_waiting_time').val());
            var daytime_percent_gain = parseFloat($('#id_driver_gain_waiting_time').val());
            
            // Calcula el precio del conductor
            var hour_gain_quantity = daytime_price * daytime_percent_gain / 100;
            hour_gain_quantity = hour_gain_quantity.toFixed(2);
    
            // Muestra el resultado en el input id_driver_price
            $('#id_driver_nightly_waiting_time').val(hour_gain_quantity);
        });
        
    });
    </script>
<!--end::Page Custom Javascript-->
{% endblock extra_js %}
