{% extends "loyal_ryde_system/base/base.html" %}
{% load static %}

{% block title %}Reportes Generales{% endblock title %}

{% block extra_css %}
<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="toolbar" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <div class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Reportes Generales</h1>
            </div>
        </div>
    </div>
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div id="kt_content_container" class="container-xxl">
            <div class="row gy-5 g-xl-8">
                <div class="col-xl-12">
                    <div class="card card-xl-stretch mb-5 mb-xl-8">
                        <div class="card-header border-0 py-5">
                            <h3 class="card-title fw-bolder">Reporte Generales de traslados</h3>
                        </div>
                        <div class="card-body">
                            <div id="transfer-request-status-chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="transfer-requests-data" type="application/json">
    {{ transfer_requests_json|safe }}
</script>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    $(document).ready(function() {
        var transferRequests = JSON.parse(document.getElementById('transfer-requests-data').textContent);
        var categories = transferRequests.map(function(item) { return item.status; });
        var seriesData = transferRequests.map(function(item) { return item.count; });

        // Definir colores específicos para cada estado
        var colorMap = {
            'finalizada': '#28a745', // Verde
            'cancelada': '#dc3545', // Rojo
            'esperando validación': '#6c757d', // Gris
            'validada': '#007bff', // Azul
            'aprobada': '#218838', // Verde oscuro
            'en proceso': '#155724' // Verde más oscuro
        };

        // Asignar colores a las barras basadas en los estados
        var colors = categories.map(function(status) {
            return colorMap[status] || '#000000'; // Color negro por defecto si no se encuentra el estado
        });

        var options = {
            series: [{
                name: 'Traslados',
                data: seriesData
            }],
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '55%',
                    endingShape: 'rounded',
                    distributed: true // Distribuir colores
                },
            },
            colors: colors, // Colores personalizados para cada barra
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            xaxis: {
                categories: categories,
            },
            yaxis: {
                title: {
                    text: 'Cantidad de traslados'
                }
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val
                    }
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#transfer-request-status-chart"), options);
        chart.render();
    });
</script>
{% endblock extra_js %}