{% extends "loyal_ryde_system/base/base.html" %}
{% load static %}

{% block title %}Traslados Mes 6-2024{% endblock title %}

{% block extra_css %}
<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% block content %}
<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">
        <div class="card mb-5 mb-xxl-12">
            <div class="card-body">
                <div class="col-md-12 text-center pb-0">
                    <h1>Reporte de traslados GGMN</h1>
                </div>
                <div class="mb-10 pt-9">
                    <form id="filter-form" class="form-inline d-flex justify-content-end">
                        <div class="form-group mb-2 ml-2">
                            <label for="month" class="sr-only">Mes</label>
                            <select class="form-control" id="month" name="month" data-control="select2" data-hide-search="true">
                                <option value="">Seleccione un mes</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <div class="form-group mb-2" style="padding-left: 15px;">
                            <label for="start_date" class="sr-only">Fecha Inicio</label>
                            <input type="date" class="form-control" id="start_date" name="start_date" placeholder="Fecha Inicio">
                        </div>
                        <div class="form-group mb-2 ml-2" style="padding-left: 15px; padding-right: 15px;">
                            <label for="end_date" class="sr-only">Fecha Fin</label>
                            <input type="date" class="form-control" id="end_date" name="end_date" placeholder="Fecha Fin">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2 ml-2" >Filtrar</button>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-rounded table-striped border gy-7 gs-7" id="transfer_list_table">
                            <thead>
                                <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <!-- <th>Pasajero</th> -->
                                    <th>Origen</th>
                                    <th>Destino</th>
                                    <!-- <th>Descripcion</th> -->
                                    <th>Monto base $</th>
                                    <!-- <th>Tiempo de espera</th> -->
                                    <th>Desvios</th>
                                    <!-- <th>Lugar</th> -->
                                    <th>Monto total $</th>
                                    <th>Método de pago</th>
                                    <th>Solicitante</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transfer_request in transfer_requests %}
                                    <tr>
                                        <td class="text-center">{{ transfer_request.date|date:'d/m/Y' }}</td>
                                        <td class="text-center">{{ transfer_request.hour|date:'G:i' }}</td>
                                        <!-- <td class="text-center">{{ transfer_request.passenger.name }}</td> -->
                                        <td class="text-center">{{ transfer_request.departure_site_route }}</td>
                                        <td class="text-center">{{ transfer_request.destination_route }}</td>
                                        <!-- <td class="text-center">{{ transfer_request.description }}</td> -->
                                        <td class="text-center">{{ transfer_request.price }}</td>
                                        <!-- <td class="text-center">{{ transfer_request.waiting_hours_amount }}</td> -->
                                        <td class="text-center">{{ transfer_request.deviation.count }}</td>
                                        <!-- <td class="text-center">{{ transfer_request.diversion_place }}</td> -->
                                        <td class="text-center">{{ transfer_request.final_price }}</td>
<td class="text-center">{{ transfer_request.get_payment_method_display }}</td>
                                        <td class="text-center">{{ transfer_request.service_requested.company.name }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>                            
                    </div>
                </div>
                <div class="text-center">
                    <button id="export-btn" class="btn btn-primary">Exportar a Excel</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> -->
<script>
$(document).ready(function() {
    $('#transfer_list_table').DataTable();

    // Mantener los valores de los filtros después de la recarga
    var urlParams = new URLSearchParams(window.location.search);
    $('#month').val(urlParams.get('month'));
    $('#start_date').val(urlParams.get('start_date'));
    $('#end_date').val(urlParams.get('end_date'));

    $('#filter-form').submit(function(e) {
        e.preventDefault();
        var month = $('#month').val();
        var start_date = $('#start_date').val();
        var end_date = $('#end_date').val();
        var url = "{% url 'core:transfer_request_excel' %}?" + $.param({
            month: month,
            start_date: start_date,
            end_date: end_date
        });

        window.location.href = url;
    });

    $('#export-btn').click(function() {
        var month = $('#month').val();
        var start_date = $('#start_date').val();
        var end_date = $('#end_date').val();
        var url = "{% url 'core:transfer_request_excel' %}?export=true&" + $.param({
            month: month,
            start_date: start_date,
            end_date: end_date
        });

        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                responseType: 'blob'
            },
            success: function(data) {
                var a = document.createElement('a');
                var url = window.URL.createObjectURL(data);
                a.href = url;
                a.download = 'solicitud_traslados.xlsx';
                document.body.append(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
            },
            error: function() {
                alert('Error al exportar el archivo.');
            }
        });
    });
});
</script>
{% endblock extra_js %}