{% extends "loyal_ryde_system/base/base.html" %}
{% load static %}

{% block title %}Detalles del Traslado{% endblock title %}

{% block extra_css %}
<style>
    .form-check {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .card-title i {
        color: #009ef6;
        font-size: 20px;
    }
</style>
{% endblock extra_css %}

{% block content %}
<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">
        <div class="card mb-5 mb-xxl-12">
            <div class="card-body">
                <div class="col-md-12 text-center pb-0">
                    <h1 class="display-4">Detalles del Traslado</h1>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">General</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="route-tab" data-bs-toggle="tab" data-bs-target="#route" type="button" role="tab" aria-controls="route" aria-selected="false">Ruta</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="payment-tab" data-bs-toggle="tab" data-bs-target="#payment" type="button" role="tab" aria-controls="payment" aria-selected="false">Pago</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="driver-tab" data-bs-toggle="tab" data-bs-target="#driver" type="button" role="tab" aria-controls="driver" aria-selected="false">Conductor</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="map-tab" data-bs-toggle="tab" data-bs-target="#map-tab-content" type="button" role="tab" aria-controls="map-tab-content" aria-selected="false">Mapa</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                        <div class="row mb-10 pt-9">
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-calendar-alt"></i> Fecha del traslado</h5>
                                        <p class="card-text">{{ detail.date|date:"Y-m-d" }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-clock"></i> Hora del traslado</h5>
                                        <p class="card-text">{{ detail.hour }}</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-exchange-alt"></i> Ida y Vuelta</h5>
                                        {% if detail.is_round_trip %}
                                        Si
                                        {%  else %}
                                        No
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-car-side"></i> Tipo de servicio</h5>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-check form-check-custom form-check-solid mt-5">
                                                    <input class="form-check-input" type="checkbox" {% if detail.executive_transfer %}checked{% endif %} disabled />
                                                    <label class="form-check-label">TRASLADO EJECUTIVO</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-check form-check-custom form-check-solid mt-5">
                                                    <input class="form-check-input" type="checkbox" {% if detail.encomienda %}checked{% endif %} disabled />
                                                    <label class="form-check-label">ENCOMIENDA</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-check form-check-custom form-check-solid mt-5">
                                                    <input class="form-check-input" type="checkbox" {% if detail.driver %}checked{% endif %} disabled />
                                                    <label class="form-check-label">CONDUCTOR</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-users"></i> Lista de personas para el traslado</h5>
                                        <ul class="list-group">
                                            {% for person in detail.person_to_transfer.all %}
                                            <li class="list-group-item">{{ person.name }} {{ person.company }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="route" role="tabpanel" aria-labelledby="route-tab">
                        <div class="row mb-10 pt-9">
                            <div class="col-md-12 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-road"></i> Salida/Destino(s)</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-label">Dirección de salida:</label>
                                                <p class="form-control-plaintext">{{ detail.destination_direc}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Punto de referencia:</label>
                                                <p class="form-control-plaintext">{{ detail.departure_landmark|default:"N/A"  }}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Dirección de destino:</label>
                                                <p class="form-control-plaintext">{{ detail.departure_direc }}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Punto de referencia:</label>
                                                <p class="form-control-plaintext">{{ detail.destination_landmark|default:"N/A"  }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if detail.fly_checkbox %}
                            <div class="col-md-12 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-plane"></i> Información del Vuelo</h5>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="form-label">Aerolínea:</label>
                                                <p class="form-control-plaintext">{{ detail.airline }}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label">Vuelo:</label>
                                                <p class="form-control-plaintext">{{ detail.flight }}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label">Ruta de vuelo:</label>
                                                <p class="form-control-plaintext">{{ detail.route_fly }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-md-12 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-random"></i> Desvíos</h5>
                                        {% if detail.deviation.all %}
                                        <div id="waypointsContainer" class="mt-3">
                                            {% for desvio in detail.deviation.all %}
                                            <div class="waypoint-div">
                                                <h6>Desvío #{{ desvio.waypoint_number }}</h6>
                                                <p class="form-control-plaintext">{{ desvio.desviation_direc }}</p>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <p>No hay desvíos.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                        <div class="row mb-10 pt-9">
                            <div class="col-md-12 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-credit-card"></i> Método de Pago</h5>
                                        <p class="card-text">{{ detail.get_payment_method_display }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-dollar-sign"></i> Tarifa</h5>
                                        <p class="card-text">
                                            <span class="text-dark">{{ detail.rate.route.route_name|title }}</span> <br>
                                            <span class="text-dark">Precio Base: </span> <span style="color:green">{{ detail.rate.price }}$</span><br>
                                            <span class="text-dark">Precio de espera por hora (diurna) C/U: </span> <span style="color:green">{{ detail.rate.daytime_waiting_time }}$<br>
                                            <span class="text-dark">Precio de espera por hora (noctura) C/U: </span> <span style="color:green">{{ detail.rate.nightly_waiting_time }}$</span><br>
                                            <span class="text-dark">Precio por desvio local C/U: </span> <span style="color:green">{{ detail.rate.detour_local }}$</span><br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- verificar si detail.comprobante tiene una imagen -->
                            {% if detail.comprobante %}
                            <div class="col-md-12 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body text-center">
                                        <div class="d-flex justify-content-center align-items-center mb-3">
                                            <h5 class="card-title mb-0"><i class="fas fa-credit-card"></i> Comprobante de pago</h5>
                                            <a href="{{ detail.comprobante.url }}" class="btn btn-primary ms-3" download>Descargar</a>
                                        </div>
                                        <!-- Mostrar el comprobante de pago que viene en detail.comprobante -->
                                        <!-- Ajusta el tamaño del comprobante -->
                                        <img src="{{ detail.comprobante.url }}" alt="Comprobante de pago" class="img-fluid" width="500px" height="500px"/>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="driver" role="tabpanel" aria-labelledby="driver-tab">
                        <div class="row mb-10 pt-9">
                            <div class="col-md-12 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-user"></i> Conductor</h5>
                                        <p class="card-text">
                                            {% if detail.user_driver %}
                                                {{ detail.user_driver }}
                                            {% else %}
                                                No hay conductor asignado
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-sticky-note"></i> Observaciones</h5>
                                        <p class="card-text">{{ detail.observations }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="map-tab-content" role="tabpanel" aria-labelledby="map-tab">
                        <div class="row mb-10 pt-9">
                            <div class="col-md-12 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-map"></i> Mapa del recorrido</h5>
                                        <div id="map" style="height: 400px;"></div>
                                        <!-- Hidden fields for map functionality -->
                                        <div class="d-none">
                                            <select class="form-select" aria-label="Seleccione un punto de origen" name="departure_site_route" id="id_departure_site_route" required>
                                                <option value="{{ detail.departure_site_route }}">{{ detail.departure_site_route }}</option>
                                            </select>
                                            <input class="form-control" type="text" name="destination_direc" id="id_destination_direc" value="{{ detail.destination_direc }}" disabled />
                                            <select class="form-select" aria-label="Seleccione un punto de origen" name="destination_route" id="id_destination_route" required>
                                                <option value="{{ detail.destination_route }}" selected disabled>{{ detail.destination_route }}</option>
                                            </select>
                                            <input class="form-control" type="text" name="departure_direc" id="id_departure_direc" value="{{ detail.departure_direc }}" disabled />
                                            <div id="waypointsContainer" class="mt-3">
                                                {% for desvio in desviations %}
                                                <div class="waypoint-div" data-index="{{ desvio.waypoint_number }}">
                                                    <input class="form-control" type="text" waypoint="true" placeholder="Ingrese desvío" value="{{ desvio.desviation_direc }}" />
                                                    <input type="hidden" id="id_lat_{{ desvio.waypoint_number }}" name="lat_{{ desvio.waypoint_number }}" value="{{ desvio.lat }}" />
                                                    <input type="hidden" id="id_long_{{ desvio.waypoint_number }}" name="lng_{{ desvio.waypoint_number }}" value="{{ desvio.long }}" />
                                                    <button type="button" class="btn btn-danger mt-3" onclick="removeWaypointMarker({{ desvio.waypoint_number }})">Eliminar</button>
                                                </div>
                                                {% endfor %}
                                                {{ form.lat_1 }} {{ form.long_1 }} {{ form.lat_2 }} {{ form.long_2 }} {{ form.deviation }}
                                                <input type="hidden" name="waypoints_numbers" id="id_waypoints_numbers" placeholder="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Navbar-->
    </div>
    <!--end::Container-->
</div>
{% endblock content %}

{% block extra_js %}
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHnlD8Je1f9oPwGg8U6edTnN3MAFBoYsc&libraries=places&loading=async&callback=initMap"></script>
<script src="{% static 'ruta.js' %}"></script>
<script src="{% static 'transfer_form.js' %}"></script>
{% endblock extra_js %}