{% extends "loyal_ryde_system/base/base.html" %}
{% load static %}
{% block title %}
    Inicio
{% endblock title %}
{% block extra_css %}
<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css"/>
{% endblock extra_css %}
{% block content %}
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Navbar-->
            <div class="card mb-5 mb-xxl-12">
                <div class="card-body">
                    <div class="col-md-12 text-center pb-0">
                        <h1>Lista de traslados Transporte GGMN</h1>
                    </div>
                    <div class="mb-10 pt-9">
                        <div class="table-responsive">
                            <table class="table table-rounded table-striped border gy-7 gs-7" id="transfer_list_table">
                                <thead>
                                    <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
                                        <th>Fecha y Hora</th>
                                        <th>Salida</th>
                                        <th>Destino</th>
                                        <th>Solicitado</th>
                                        <th>Precio base</th>
                                        <th>Aprobado por</th>
                                        <th>Metodo de pago</th>
                                        <th>Estatus</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for transfer_request in transfer_requests %}
                                        <tr>
                                            <td class="text-center">{{ transfer_request.date|date:'d/m/Y'}}-{{ transfer_request.hour|date:'G:i' }}</td>
                                            <td class="text-center">{{ transfer_request.departure_site_route }}</td>
                                            <td class="text-center">{{ transfer_request.destination_route }}</td>
                                            <td class="text-center">{{ transfer_request.service_requested.username }}</td>
                                            <td class="text-center">{{ transfer_request.rate.price }}$</td>
                                            <td class="text-center">{{ transfer_request.service_authorize }}</td>
                                            <td class="text-center">{{ transfer_request.get_payment_method_display }}</td>
                                            <td class="text-center">
                                                <span class="d-inline-block position-relative ms-2">
                                                    <!--begin::Label-->
                                                    <span class="d-inline-block mb-2 fs-1tx fw-bolder">
                                                        {{ transfer_request.status|title }}
                                                    </span>
                                                    {% if transfer_request.status == 'esperando validacion' %}
                                                    <span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-warning translate rounded"></span>
                                                    {% elif transfer_request.status == 'validada' %}
                                                    <span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-primary translate rounded"></span>
                                                    {% elif transfer_request.status == 'aprobada' %}
                                                    <span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-success translate rounded"></span>
                                                    {% elif transfer_request.status == 'en proceso' %}
                                                    <span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-info translate rounded"></span>
                                                    {% elif transfer_request.status == 'cancelada' %}
                                                    <span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-danger translate rounded"></span>
                                                    {% elif transfer_request.status == 'finalizada' %}
                                                    <span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-secondary translate rounded"></span>
                                                    {% endif %}
                                                    <!--end::Line-->
                                                </span>
                                            </td>
                                            <td class="text-end">
                                                <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Acciones
                                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                                <span class="svg-icon svg-icon-5 m-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon--></a>
                                                <!--begin::Menu-->
                                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                                                    <!--begin::Menu item-->
                                                    <div class="menu-item px-3">
                                                        <a href="{% url 'core:transfer_request_update' pk=transfer_request.id %}" class="menu-link px-3">Editar</a>
                                                    </div>
                                                    <!--end::Menu item-->
                                                    <!--begin::Menu item-->
                                                    <!-- <div class="menu-item px-3">
                                                        <a href="#" class="menu-link px-3" data-kt-users-table-filter="delete_row">Eliminar</a>
                                                    </div> -->
                                                    <div class="menu-item px-3">
                                                        <a href="{% url 'core:transfer_request_detail' pk=transfer_request.id %}" class="menu-link px-3" data-kt-users-table-filter="delete_row">Ver</a>
                                                    </div>
                                                    <div class="menu-item px-3">
                                                        {% if transfer_request.status == 'validada' %}
                                                            {% if user.is_authenticated and user.role == 'administrador' %}
                                                                <a href="#" class="btn btn-xs btn-primary aprobar" data-id="{{ transfer_request.id }}">Aprobar</a>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if transfer_request.status == 'esperando validación' %}
                                                            <a href="#" class="btn btn-xs btn-primary validar" data-id="{{ transfer_request.id }}">Validar</a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="menu-item px-3 pt-xl-1">
                                                        <a href="#" class="btn btn-xs btn-danger cancelar" data-id="{{ transfer_request.id }}">Cancelar</a>
                                                    </div>
                                                    <!--end::Menu item-->
                                                </div>
                                                <!--end::Menu-->
                                            </td>
                                            <!-- <td></td> -->
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                            
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Navbar-->
        </div>
        <!--end::Container-->
{% endblock content %}
{% block extra_js %}
<script>
let url_approve_ajax = "{% url 'core:transfer_request_approve' %}";
let url_approve_ajax_admin = "{% url 'core:transfer_request_approve_admin' %}";
let url_cancel_ajax = "{% url 'core:transfer_request_cancel' %}";
</script>
<script src="{% static 'trasnfer_request_list.js' %}"></script>
<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
{% endblock extra_js %}
