.btn-success {
    background-color: #36cf6b!important;
    border-color: #36cf6b!important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-color: #2ebd5f!important;
    border-color: #2ebd5f!important;
}